[Unit]
Description=Preston Biodiversity Dataset Registration.

[Service]
Type=oneshot
User=preston
WorkingDirectory=/var/lib/preston
ExecStart=/usr/local/bin/preston-registration.sh

[Install]
WantedBy=multi-user.target
